*{
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

body{
    background-color: #e1e1e184;
}
nav{
    background-color: #c8c8c8;
    padding: 40px;
    >p{
        font-weight: 900;
        font-size: 60px;
        border: solid;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        text-align: center;
        justify-content: center;
        text-transform: uppercase;
        position: absolute;
        right: 90px;
        top: 20px;
        box-shadow: 0 0 10px;
        transition: ease-out 0.3s;
    }
    >p:hover{
        background-color: #535353;
        color: #c8c8c8;
        cursor: pointer;
    }
    >p:hover + .logout-div{
        display: block;
        animation: slideDown ease-out 0.3s backwards;
    }
}

@keyframes slideDown {
    0%{
        opacity: 0.2;
        transform: translateY(20px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}


.logout-div{
    background-color: #e1e1e1;
    padding: 50px;
    position: absolute;
    right: 100px;
    top: 90px;
    border-radius: 7px;
    border: solid #535353;
    display: none;
}
.logout-div:hover{
    display: block;
}

.logout{
    background-color: #535353;
    color: #fff;
    border: none;
    padding: 20px;
    font-size: 18px;
    font-weight: 700;
    border-radius: 9px;
    width: 150px;
    cursor: pointer;
    transition: ease 0.3s;
}
.logout:hover{
    background-color: #c8c8c8;
    color: #535353;
    border: solid #535353;
}